$color-vote-arrow: #ff3300;

.card-setlist {
  margin-top: 15px;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;
  }
}

#home-search-results {
  .card-setlist,
  .card-dj {
    margin-top: 5px;
  }
}

.card-request {
  .card-body {
    display: flex;

    .votes {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: stretch;
    }

    .request-info {
      .request-info-song-title {
        font-size: 1.5em;
      }

      .status {
        margin-top: 10px;
      }
    }
  }
}


body {
  margin-bottom: 30px;
}

.vote-up.voted,
.vote-down.voted {
  color: $color-vote-arrow;
}


#setlist-toolbar {
  align-items: flex-end;

  .left {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
  }

  .left > * {
    margin: 0px 7px;
  }

  .setlist-dropdown-filter .dropdown-item {
    display: flex;
    justify-content: space-between;
  }
}

