$color-vote-arrow: #ff3300;
$color-blue: #7fdeff;
$color-dark: #223843;
$color-yellow: #ffbf00;
$color-grey: #ebebebeb;
$color-pink: #ed1d69;


.card-setlist {
  margin-top: 15px;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;
  }
}

#home-search-results {
  .card-setlist,
  .card-dj {
    margin-top: 5px;
  }
}

.card-request {
  .card-body {
    display: flex;

    .votes {
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-content: stretch;
    }

    .request-info {
      .request-info-song-title {
        font-size: 1.5em;
      }

      .status {
        margin-top: 10px;
      }
    }
  }
}


body {
  margin-bottom: 30px;
}

.vote-up.voted,
.vote-down.voted {
  color: $color-vote-arrow;
}


#setlist-toolbar {
  align-items: flex-end;

  .left {
    display: flex;
    margin-bottom: 10px;
    padding: 5px;
  }

  .left > * {
    margin: 0px 7px;
  }

  .setlist-dropdown-filter .dropdown-item {
    display: flex;
    justify-content: space-between;
  }
}

.btn-setlist-info {
  padding: 0;
  margin-left: 12px;
  color: #0099ff;
}

#login-form,
#new-account-form {
  padding: 0px 300px;
}


.modal-header {
  background-color: $color-dark;
  color: white;

  button.close {
    color: white;
  }
}

body {
  background-color: $color-grey;
}

// custom shadows
.card {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
}

section#navbar {
  background-color: $color-dark;
}

button {
  &:active,
  &:focus,
  &:hover {
    opacity: 0.8;
    box-shadow: none !important;
    outline: none !important;
  }
}

.btn-primary {
  &,
  &:focus,
  &:active,
  &:hover,
  &:visited,
  &:not(:disabled):not(.disabled):active {
    background-color: $color-pink;
    border-color: $color-pink;
  }
}

.hover-pointer:hover {
  cursor: pointer;
}

.vote-arrow:hover {
  color: $color-vote-arrow;
}

.form-group label {
  font-weight: bold;
}

.form-group {
  .edit-setlist-time:enabled,
  .new-setlist-time:enabled {
    background-color: white;
  } 
}

.card-table-requests {
  .card-body {
    padding: 10px;
  }
}

#table-requests {
  thead tr th {
    border-top: none;
  }

  thead th {
    &:hover {cursor: pointer;}

    &.column-sorted {
      color: $color-vote-arrow;
    }
  }
}

.dropdown-request-actions:hover {
  color: $color-blue;
}

.dropdown-filter-status .dropdown-item {
  display: flex;
  justify-content: space-between;
}



