.card-setlist {
  margin-top: 15px;
}

.split {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .right {
    display: flex;
    align-items: center;
  }
}

#home-search-results {
  .card-setlist,
  .card-dj {
    margin-top: 5px;
  }
}